
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

.review p {
    text-align: center;
    font-size: 30px;
}
.review div{
    display: flex;
    justify-content: space-around;
}
.line {
    border: 0;
    background-color: #000;
    height: 5px;
}
input[type='text'] {
    margin: 5vw;
    width: 50%;
    height: 40vh;
    background-color: transparent;
}
