* {
    max-width: 1600px;
    background-color: rgb(248, 248, 248);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body {   
    margin: auto;
    max-width: 1600px;
  }
header {
    height: 100vh;
    z-index: 1;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigate {
    display: flex;
    margin: 0;
    padding: 0;
}
.dropdown-block {
    position: absolute;
    width: 100px;
    display: none;
    padding-left: 0;
    margin-top: 10px;
}
li {
    margin: 0px;
    padding-top: 5px;
    text-decoration: none;
    list-style: none;
    background-color: rgb(196, 196, 245);
    height: 3vw;
    width: 200px;
    text-align: center;
}
a {
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.7vw;
    color: black;
}
.dropdown-block li {
    width: 300px;
}
.list:hover .dropdown-block {
    display: block;
    z-index: 3;
}
input[type="checkbox"]{
    display: none;
}

.logo img {
    max-width: 200px;

}
.logo:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.navigate li:hover {
    background-color: turquoise;
}
.navigate li:hover a{
    color: white;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}
.main_image {
   /* position: relative;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
    object-fit: cover;
    height: 80%;
}
.anim p{
    margin: 0;
    font-size: 3vw;
    text-transform: uppercase;
    text-decoration: none;
    color: orange;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
@keyframes example {
    0%   {left:0px;}
    50% {left:100%;
          transform: translateX(-30%);
    }
    100% {left: 0px;}
}
.story {
    margin: 50px;
    display: flex;
    max-height: 800px;
    display: inline-flex;
}
.story div {
    margin: 30px;
}
.story div img {
    box-sizing: border-box;
    max-height: 100vh;
    width: 533px;
}
.more {
    margin: 0;
    padding: 60px;
    padding-top: 0;
    font-size: 1.7vw;
    text-align: justify;
    border-radius: 30px;
    overflow: hidden;
    background-color: transparent;    
}
.show-more {
    position: relative;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    border-radius: 30px;
    background-color: rgb(196, 196, 245);;
    width: 200px;
    height: 3vw;
}
.show-more:hover .more{
    max-height: 100%;
    overflow: visible;
    background-color: black;
}
.last_win {
    margin: 50px;
    display: flex;
    max-height: 75vw;
}
.last_win div img{
    width: 50vw;
    border-radius: 30px;
}
.last_win div p {
    margin: 0;
    padding: 30px;
    background-color: gray;
    font-size: 2vw;
    text-align: justify;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}
footer {
    height: 100px;
    background-color: rgb(196, 196, 245);;
    border-radius: 12px;
    text-align: center;
    padding-top: 50px;
    color: orange;
}
@media (max-width: 1000px) {
    .story {
        flex-direction: column;
        max-height: none;
    }
    input[type="checkbox"]{
        display: block;
    }
    nav {
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .burger {
        display: block;
    }
    nav span {
    display: block;
    width: 43px;
    height: 8px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }
    nav input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 72px;
        left: -2px;
        cursor: pointer;
        opacity: 0; 
        z-index: 2; 
    }
    .navigate {
        display: none;
        position: relative;
        z-index: 1;
        width: 400px;
        right: 25%;
    }
    .navigate li {
        width: 100%;
    }
    input[type=checkbox]:checked ~ ul.navigate {
        display: block;
    }
    input[type=checkbox]:checked ~ ul.navigate li {
        background-color: transparent;
    }
    input:checked ~ .burger span {
      opacity: 1;
      transform: rotate(45deg) translate(0px, -1px);
      background: #232323;
    }
    input:checked ~ .burger span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ .burger span:nth-last-child(1) {
      transform: rotate(-45deg) translate(-10px, 4px);
    }
}
@media (max-width: 1300px) {
    .story {
        flex-direction: column;
        max-height: none;
    }
    .navigate li {
        width: 120px;
    }
}
@media (max-width: 1400px) {
    .navigate li {
        width: 150px;
    }
}